[submodule "third-party/fmt"]
	path = third-party/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "third-party/filesystem"]
	path = third-party/filesystem
	url = https://github.com/gulrak/filesystem.git
[submodule "third-party/cryptopp-cmake"]
	path = third-party/cryptopp-cmake
	url = https://github.com/abdes/cryptopp-cmake.git
[submodule "third-party/cryptopp"]
	path = third-party/cryptopp
	url = https://github.com/weidai11/cryptopp.git
